.about-banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), linear-gradient(0deg, #21402B, #21402B), url(/public/img/about/about.jpg);
    background-blend-mode: normal, overlay, normal;
    height: 33.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-banner__desc {
    color: var(--green-t-1);
    display: none;
}

.about__desc {
    font-size: 1.8rem;
    color: var(--gray-7);
}

.about__img {
    width: 100%;
}


/***
MediA queries
***/
@media (max-width: 768px) {
    .about-banner__desc {
        display: block;
    }

    .about__img {
        display: none;
    }
}