/*
slider section
*/

.slider {
    width: 100%;
    max-height: 33.6rem;
    /* overflow: hidden; */
    padding: 0;
}

.slider__image {
    position: relative;
    width: 100%;
    height: 33.6rem;
}

.slider__image-item {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: relative;
    filter: brightness(.2);
}

.slider__image-content {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__image-title {
    white-space: nowrap;
    font-family: var(--font-bold);
    font-size: 4rem;
    margin-bottom: 4rem;
}

.slider__image-link {
    background-color: var(--green);
    color: var(--white);
    padding: 0.8rem 2.4rem;
    border-radius: var(--radius-s);
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .2s ease;
}

.slider__image-link:hover {
    background-color: var(--green-sh-2);
}

/*
swiper style
*/

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--white);
    font-size: 3rem;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    background-color: var(--white);
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2.4rem;
    border-radius: 1.6rem 1.6rem 0 0;
    margin-bottom: -1rem;
}

.swiper-pagination-bullet {
    background-color: var(--green);
}

.swiper-pagination-bullet-active {
    background: var(--green);
    transform: scale(1.4);
}

/*
Menus Section
*/
.menus {
    padding: 4.8rem 0;
}

.menu__title {
    display: flex;
    justify-content: center;
    font-family: var(--font-bold);
    font-size: 2.4rem;
}


/*
Restaurant Section
*/
.restaurant {
    padding: 4.8rem 0;
    position: relative;
    color: var(--white);
    position: relative;
    overflow: hidden;

}

.restaurant::before {
    content: "";
    position: absolute;
    background-size: 105%;
    background-image: url(/public/img/index/Restaurant-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%) contrast(123%) drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5)) blur(.4rem);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.restaurant__title {
    margin-bottom: 2rem;
}

.restaurant__desc {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.restaurant__link {
    display: flex;
    justify-content: flex-end;
}

.restaurant__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1.2rem;
    color: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: var(--radius-xs);
    transition: all .2s ease;
}

.restaurant__button:hover{
    border-color: var(--green-sh-1);
    background-color: var(--green-sh-2);
}

/*
Branches
*/
.branches__title{
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
}



/*****
Media Queries
*****/

/*** xxl ***/

@media (max-width: 1400px) {}

/*** xl ***/

@media (max-width: 1200px) {

    /*menu section*/
    .menu-box {
        margin-top: 13rem;
    }

    .menu-box__image {
        width: 20rem;
        height: 20rem;
    }

}

/*** lg ***/

@media (max-width: 992px) {

    /*slider*/
    .slider__image-title {
        font-size: 3rem;
        white-space: normal;
        text-align: center;
    }

    .slider__image-link {
        font-size: 1.4rem;
    }

    /*menu section*/
    .menu-box {
        margin-top: 9rem;
    }

    .menu-box__image {
        width: 14rem;
        height: 14rem;
    }

    /*restaurant*/
    .restaurant__desc {
        font-size: 1.6rem;
    }

    .restaurant__button {
        font-size: 1.6rem;
    }

    .icon-box__icon {
        font-size: 4.2rem;
    }

    .icon-box__title {
        font-size: 1.5rem;
    }
}

/*** md ***/

@media (max-width: 768px) {

    /*menu section*/
    .menu-box__image {
        margin-top: -7rem;
    }

    /*Restaurant */
    .restaurant__link {
        margin-bottom: 2.4rem;
    }
}

/*** sm ***/

@media (max-width: 576px) {

    /*slider*/
    .slider__image-title {
        font-size: 2rem;
    }

    .slider__image-link {
        font-size: 1.3rem;
    }
}