.contact-box {
    display: flex;
    border: 0.1rem solid var(--gray-4);
    border-radius: var(--radius-s);
    margin-bottom: 2.6rem;
    transition: all .2s ease;
}

.contact-box:hover {
    box-shadow: var(--shadow-2);
}

.contact-box>div,
.contact-box>a {
    flex: 1 1 auto;
    width: 50%;
}

.contact-box__img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 0 0.8rem 0.8rem 0;
    object-fit: cover;
    object-position: center center;
}

.contact-box__content {
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.contact-box__title-link {
    font-size: 1.8rem;
    color: var(--gray-8);
    font-family: var(--font-bold);
    transition: all .2s ease;
}

.contact-box:hover .contact-box__title-link {
    color: var(--green);
}

.contact-box__detail {
    font-size: 1.6rem;
    color: var(--gray-7);
    text-align: center;
}


@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
    }

    .contact-box>div {
        width: 100%;
    }

    .contact-box>a {
        display: block;
        width: 100%;
    }

    .contact-box__img-thumbnail {
        border-radius: .8rem .8rem 0 0;
        height: 24rem;
    }
}