.order {
    padding: 0;
}

.persian__title,
.popularity__title,
.foreign__title,
.branches__title,
.comments__title {
    margin-bottom: 2.4rem;
}

.persian {
    position: relative;
}

.persian::before {
    content: "";
    position: absolute;
}

/***
swiper slider style
***/

.slider-next-button:after,
.slider-prev-button:after {
    font-size: 2.5rem;
    color: var(--gray-6);
    background: var(--white);
    padding: 0.5rem;
    border-radius: var(--radius-xs);
}

/***
Popularity food section
***/
.popularity {
    background-color: var(--green-sh-2);
}

.popularity .popularity__title {
    color: var(--white);
}

.popularity .food-box {
    border-color: var(--green-sh-2);
    box-shadow: none;
}

.popularity .food-box:hover {
    border-color: var(--green-sh-5);
}

/***
Full menu
***/
.full-menu {
    margin: 2.4rem 0 5.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-menu__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--green);
    border: 0.1rem solid var(--green);
    border-radius: var(--radius-xs);
    padding: 0.4rem 1.6rem;
    gap: 1.6rem;
    overflow: hidden;
}

.full-menu__button::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background-color: var(--green-sh-2);
    z-index: -1;
    top: 0;
    right: -112%;
    transition: all .2s ease;
}

.full-menu__button:hover::before {
    right: 0;
}

.full-menu__icon {
    font-size: 2.4rem;
    transition: all .2s ease;
}

.full-menu__button:hover .full-menu__icon {
    color: var(--green-t-3);
}

.full-menu__link {
    font-size: 1.6rem;
    color: var(--green);
    transition: all .2s ease;
}

.full-menu__button:hover .full-menu__link {
    color: var(--white);
}


/***
Branches slider
***/

.branches {
    margin-bottom: 4.8rem;
    padding: 0;
}

.branches__title,
.comments__title {
    display: flex;
    justify-content: center;
}

.branches-slider {
    position: relative;
    margin-bottom: 9rem;
}

.branches-slider__img {
    width: 100%;
    height: 33.6rem;
    object-fit: cover;
    object-position: center center;
    filter: brightness(0.8);
}

.branches-slider__content {
    position: absolute;
    bottom: -9rem;
    left: 50%;
    transform: translateX(-50%);
}

.branch-slider__wrapper {
    background-color: var(--white);
    color: var(--gray-8);
    border: 0.25rem solid var(--green);
    border-radius: var(--radius-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem;
}

.branch-slider__contact,
.branch-slider__location,
.branch-slider__hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.branch-slider__icon {
    font-size: 3.2rem;
}

.branch-slider__desc {
    font-size: 1.6rem;
    text-align: center;
}

/***
Comments
***/





/*****
Media Queries
*****/



/*** xl ***/

@media (max-width: 1200px) {
    .food-box__container {
        height: 18.5rem;
    }
}

/*** lg ***/

@media (max-width: 992px) {

    /*Branches slider*/
    .branches-slider {
        margin-bottom: 12rem;
    }

    .branches-slider__content {
        bottom: -12rem;
    }

    .branch-slider__wrapper {
        flex-direction: column;
    }
}



/*** sm ***/

@media (max-width: 576px) {

    /*User Comment*/
    .comment-box {
        flex-direction: column;
    }

    .comment-box__user {
        display: flex;
        align-items: center;
        gap: .8rem;
        flex-wrap: wrap;
    }
}

/*** x-sm ***/

@media (max-width: 400px) {

    /*user comment*/
    .comment-box {
        margin-bottom: 8rem;
    }
}