.cart-product {
    border: 0.1rem solid var(--gray-4);
    border-radius: var(--radius-s);
    transition: all .2s ease;
    display: flex;
    gap: 3.2rem;
}

.cart-product__cover {
    position: relative;
    flex: 1 1 auto;
    width: 30%;
    height: 15rem;
    overflow: hidden;
}

.cart-product__image {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: zoom-in;
    border-radius: 0 .8rem .8rem 0;
}

.cart-product__content {
    padding: 0.8rem 0 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    width: 70%;
}

.cart-product__header,
.cart-product__body,
.cart-product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.cart-product__title {
    font-size: 1.8rem;
    color: var(--gray-8);
}

.cart-product__remove {
    font-size: 2.4rem;
    color: var(--gray-8);
    cursor: pointer;
    transition: all .2s ease;
}

.cart-product__remove:hover {
    color: var(--error);
}

.cart-product_desc {
    font-size: 1.2rem;
    color: var(--gray-8);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-product__discount {
    display: flex;
    gap: 0.8rem;
}

.cart-product__discount-number {
    color: var(--gray-6);
    font-size: 1.2rem;
    text-decoration: line-through;
}

.cart-product__discount-percent {
    color: var(--error);
    font-size: 1.1rem;
}

.cart-product__score {
    display: flex;
    align-items: center;
}

.cart-product__score>svg {
    font-size: 1.6rem;
    color: var(--warning-light);

}


/* todo */

.cart-product__count-number {
    max-width: 5rem;
    padding: 0.8rem;
    border: none;
    background: var(--green-t-1);
    border-radius: var(--radius-xs);
    color: var(--green);
    font-size: 1.6rem;
    font-family: var(--font);
}

.cart-product__count-number:focus {
    outline: none;
}


/* todo */

.cart-product__price {
    color: var(--gray-8);
    font-size: 1.8rem;
}

/* modal style  */
.modal {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.3rem);
    transition: all .2s ease;
}

.modal.active {
    top: 0;
}

.delete_modal {
    padding: 2.4rem;
    background-color: var(--white);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-2);
}

.delete-modal__header-title {
    font-family: var(--font-bold);
    margin-bottom: 2.4rem;
}

.delete_modal__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete_modal__body button {
    font-size: 1.5rem;
    padding: 0.4rem 2.4rem;
    border-radius: var(--radius-xs);
    cursor: pointer;
    background-color: transparent;
}

.delete-modal__accept {
    border: .1rem solid var(--error);
    color: var(--error);
    transition: all .2s ease;
}

.delete-modal__accept:hover {
    background-color: var(--error);
    color: var(--white);
}

.delete-modal__reject {
    border: .1rem solid var(--green);
    color: var(--green);
    transition: all .2s ease;
}

.delete-modal__reject:hover {
    background-color: var(--green);
    color: var(--white);
}