.comment-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 2.4rem 3.6rem;
    border: .1rem solid var(--gray-4);
    border-radius: var(--radius-s);
    margin-bottom: 4rem;
}

.comment-box__user{
    display: flex;
    align-items: flex-end;
}

.comment-box__user-profile {
    width: 9.6rem;
    height: 9.6rem;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-xxl);
    display: flex;
    align-items: flex-end;
}

.comment-box__user-name,
.comment-box__date {
    font-size: 1.4rem;
    color: var(--gray-7);
}

.comment-box__date{
    font-size: 1.1rem;
}

.comment-box__body {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.comment-box__body-desc {
    font-size: 1.6rem;
    color: var(--gray-8);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comment-box__score {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--gray-8);
}

.comment-box__score>svg {
    color: var(--warning-light);
}

@media (max-width: 576px){
    .comment-box__body-desc{
        -webkit-line-clamp: 4;
        min-height: 11.2rem;
    }
}